.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  img {
    margin-top: 10vh;
  }
  .card {
    margin-top: 5vh;
    width: 40vw;
  }

  input {
    margin-bottom: 1vh;
  }

  .or {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .google-btn {
    background-color: #DE5246;
    color: white;
  }

  .redirectToLogin {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .redirect {
    cursor: pointer;
  }

  .redirect:hover {
    color: #004B76;
  }


}
