<div class="container" #container>
  <section class="page page-1">

    <div #imageFirst class="animation-logo">
      <h1>
        <img src='{{ logoWhite }}' alt="">
      </h1>
    </div>

  </section>
  <section class="page page-2" #teaser>
    <p class="">
      Das Problem
    </p>
  </section>
  <section class="page page-2" #teaser>
    <p class="">
      Die Lösung
    </p>
  </section>
  <section class="page page-2" #teaser>
    <p class="">
      Die Vision
    </p>
  </section>
  <section class="page page-3">
    <div title="GET IN TOUCH" class="contact">
      GET IN TOUCH
    </div>
  </section>
  <section class="page-4">
    <img class="logo" src='{{ logoBlack }}' alt="">
    <p class="text imprint">IMPRINT</p>
    <p class="text company">
      The Jester GmbH i. Gr.
    </p>
    <p class="text address">
      Christinenstraße 39 <br>10119 Berlin
    </p>
    <p class="text people">
      Vertretungsberechtigte Geschäftsführer: <br>
      Dr. Benjamin Brudler, <br>
      Tobias Grimm, <br>
      Jennifer Rosenberg
    </p>
  </section>
</div>
