.container {
  height: 100vh;
}



.page-1 {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;

  .animation-logo {
    margin: 0;
    align-self: center;
  }

  .animation-logo img {
    width: 100%;
  }

  .animation-logo h1 {
    width: 80vw;
  }

  .animation-logo h1:hover {
    animation: glitch .5s linear;
  }

  .animation-logo h1:hover:before {
    position: absolute;
    content: "";
    background-image: url('../assets/SiteSeeker.png');
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 50vw;
    height: 62px;
    top: 0;
    left: 0;
    clip: rect(0, 900px, 0, 0);
    filter: drop-shadow(2px 2px 2px rgba(35, 184, 197, 1));
    animation: noise-anim .5s linear alternate-reverse;
    opacity: .8;
  }

  .animation-logo h1:hover:after {
    position: absolute;
    content: "";
    background-image: url('../assets/SiteSeeker.png');
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 50vw;
    height: 62px;
    top: 0;
    left: 0;
    clip: rect(0, 900px, 0, 0);
    filter: drop-shadow(2px 2px 2px rgba(274, 27, 27, 1));
    animation: noise-anim-2 1s linear alternate-reverse;
    opacity: .8;
  }



}

.page-2 {
  height: 100vh;
  //background-image: url('../assets/Pix/SiteSeekerPitch.png');
  //background-repeat: no-repeat;
  //background-attachment: fixed;
  //background-position: center;
  //background-size: cover;
  background-color: #0000FF;

  display: flex;
  justify-content: center;

  p {

    align-self: center;
    color: white;
    text-align: center;
    //mix-blend-mode: exclusion;

    font-family: 'Franchise-Free-Bold';
    font-size: 100pt;
  }
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .page-2 {
    // background-attachment: scroll;
    height: 100vh;
    width: 100vw;
    background-color: white;
    background-image: none;

    display: flex;
    justify-content: center;

    p {
      margin: 5%;
      align-self: center;
      color: black;
      text-align: center;
      mix-blend-mode: normal;


      font-family: 'Franchise-Free-Bold';
      font-size: 50pt;
    }
  }
}

.page-3 {
  height: 100vh;
  background-image: url('../assets/Pix/yoUs.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;


  display: grid;
  justify-content: center;

  grid-template-rows: 20% 10% 70%;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "header"
    "blob"
    ".";



  .contact {
    grid-area: header;
    color: white;
    place-self: center;
    mix-blend-mode: exclusion;


    font-family: 'Franchise-Free-Bold';
    font-size: 60pt;

    text-decoration: none !important;

  }

  .contact:hover {
    transform: scale(1.03);
  }

  .blob {
    grid-area: blob;
    place-self: center;
    background: black;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    height: 60px;
    width: 60px;
    transform: scale(1);
    animation: pulse-black 2s infinite;
  }

  .blob:hover {
    transform: scale(1.5);
    animation: pulse-black .7s infinite;
  }

  @keyframes pulse-black {
    0% {
      transform: scale(0.8);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
      transform: scale(0.8);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
}

@media only screen and (max-device-width: 1366px){
  .page-3 {
    height: 100vh;
    width: 100vw;
    background-image: none;
    background-color: black;

    display: grid;
    justify-content: center;

    grid-template-rows: 50% 10% 40%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
        "header"
        "blob"
        ".";



    .contact {
      grid-area: header;
      color: white;
      place-self: center;


      font-family: 'Franchise-Free-Bold';
      font-size: 40pt;

      text-decoration: none !important;

    }

    .blob {
      grid-area: blob;
      place-self: center;
      background: white;
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
      height: 60px;
      width: 60px;
      transform: scale(1);
      animation: pulse-white 2s infinite;
    }

    .blob:hover {
      transform: scale(1.5);
      animation: pulse-white .7s infinite;
    }

    @keyframes pulse-white {
      0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
      }

      70% {
        transform: scale(1);
        box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
      }

      100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
      }
    }

    .contact.active {
      animation: glitch 1.5s linear;
    }


  }
}


.page-4 {
  background-color: white;
  height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas:
        "header header . . . . . . . ."
        ". . . imprint imprint imprint imprint . . ."
        ". . . imprint imprint imprint imprint . . ."
        ". . . imprint imprint imprint imprint . . ."
        ". . . . . . . . . ."
        ". . . company company company company . . ."
        ". . . address address address address . . ."
        ". . . people people people people . . ."
        ". . . . . . . . . ."
        ". . . . . . . . . ."
;
  justify-items: center;

  .logo {
    margin: 5vh;
    grid-area: header;
    width: 10vw;
  }

  .text {
    justify-self: center;
    place-self: center;
    text-align: center;
  }

  .imprint {
    grid-area: imprint;
    font-family: 'Franchise-Free-Bold';
    font-size: 100pt;
  }

  .company {
    grid-area: company;
    font-family: 'Franchise-Free-Bold';
    font-size: 40pt;
  }

  .company {
    grid-area: company;
    font-family: 'Franchise-Free-Bold';
    font-size: 40pt;
  }

  .address {
    grid-area: address;
    font-family: 'Georgia';
    font-size: 20pt;
  }

  .people {
    grid-area: people;
    font-family: 'Georgia';
    font-size: 20pt;
  }
}

@media only screen and (max-device-width: 1366px){
  .page-4 {
    background-color: white;
    height: 100vh;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas:
            "header header header . . . . . . ."
            ". . . imprint imprint imprint imprint . . ."
            ". . . imprint imprint imprint imprint . . ."
            ". . . imprint imprint imprint imprint . . ."        ". . . . . . . . . ."
            ". . . . . . . . . ."
            ". . . company company company company . . ."
            ". . . address address address address . . ."
            ". . . people people people people . . ."
            ". . . . . . . . . .";
    justify-items: center;

    .logo {
      margin: 5vh;
      grid-area: header;
      width: 20vw;
    }

    .text {
      justify-self: center;
      place-self: center;
      text-align: center;
      white-space: nowrap;
    }

    .imprint {
      grid-area: imprint;
      font-family: 'Franchise-Free-Bold';
      font-size: 100pt;
    }

    .company {
      grid-area: company;
      font-family: 'Franchise-Free-Bold';
      font-size: 32pt;
    }

    .company {
      grid-area: company;
      font-family: 'Franchise-Free-Bold';
      font-size: 32pt;
    }

    .address {
      grid-area: address;
      font-family: 'Georgia';
      font-size: 12pt;
    }

    .people {
      grid-area: people;
      font-family: 'Georgia';
      font-size: 12pt;
    }
  }
}

@keyframes glitch {

  0%,
  20%,
  33%,
  60%,
  64%,
  66%,
  69%,
  73%,
  75%,
  90%,
  93%,
  100% {
    transform: skew(0deg);
  }

  21%,
  81% {
    transform: skew(30deg, 0deg);
  }

  22%,
  82% {
    transform: skew(-30deg, 0deg);
  }

  61% {
    transform: skew(35deg);
  }

  62% {
    transform: skew(-15deg, -8deg);
  }

  65% {
    transform: skew(15deg, -8deg);
  }

  70% {
    transform: skew(-65deg);
  }

  74% {
    transform: skew(15deg, -15deg);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(77px, 9999px, 6px, 0);
  }

  5% {
    clip: rect(65px, 9999px, 70px, 0);
  }

  10% {
    clip: rect(82px, 9999px, 82px, 0);
  }

  15% {
    clip: rect(32px, 9999px, 35px, 0);
  }

  20% {
    clip: rect(31px, 9999px, 49px, 0);
  }

  25% {
    clip: rect(18px, 9999px, 46px, 0);
  }

  30% {
    clip: rect(94px, 9999px, 64px, 0);
  }

  35% {
    clip: rect(69px, 9999px, 31px, 0);
  }

  40% {
    clip: rect(6px, 9999px, 72px, 0);
  }

  45% {
    clip: rect(25px, 9999px, 35px, 0);
  }

  50% {
    clip: rect(82px, 9999px, 26px, 0);
  }

  55% {
    clip: rect(7px, 9999px, 92px, 0);
  }

  60% {
    clip: rect(54px, 9999px, 30px, 0);
  }

  65% {
    clip: rect(86px, 9999px, 90px, 0);
  }

  70% {
    clip: rect(38px, 9999px, 65px, 0);
  }

  75% {
    clip: rect(41px, 9999px, 66px, 0);
  }

  80% {
    clip: rect(31px, 9999px, 37px, 0);
  }

  85% {
    clip: rect(8px, 9999px, 12px, 0);
  }

  90% {
    clip: rect(50px, 9999px, 69px, 0);
  }

  95% {
    clip: rect(7px, 9999px, 42px, 0);
  }

  100% {
    clip: rect(14px, 9999px, 57px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(18px, 9999px, 13px, 0);
  }

  5% {
    clip: rect(74px, 9999px, 51px, 0);
  }

  10% {
    clip: rect(33px, 9999px, 65px, 0);
  }

  15% {
    clip: rect(64px, 9999px, 66px, 0);
  }

  20% {
    clip: rect(75px, 9999px, 6px, 0);
  }

  25% {
    clip: rect(40px, 9999px, 49px, 0);
  }

  30% {
    clip: rect(71px, 9999px, 1px, 0);
  }

  35% {
    clip: rect(42px, 9999px, 73px, 0);
  }

  40% {
    clip: rect(92px, 9999px, 57px, 0);
  }

  45% {
    clip: rect(4px, 9999px, 33px, 0);
  }

  50% {
    clip: rect(4px, 9999px, 34px, 0);
  }

  55% {
    clip: rect(49px, 9999px, 25px, 0);
  }

  60% {
    clip: rect(24px, 9999px, 44px, 0);
  }

  65% {
    clip: rect(31px, 9999px, 99px, 0);
  }

  70% {
    clip: rect(54px, 9999px, 83px, 0);
  }

  75% {
    clip: rect(57px, 9999px, 97px, 0);
  }

  80% {
    clip: rect(3px, 9999px, 15px, 0);
  }

  85% {
    clip: rect(84px, 9999px, 34px, 0);
  }

  90% {
    clip: rect(100px, 9999px, 88px, 0);
  }

  95% {
    clip: rect(91px, 9999px, 59px, 0);
  }

  100% {
    clip: rect(10px, 9999px, 87px, 0);
  }
}
