<div class="menu-right">
  <div class="card card-top">
    <div class="card-body">
      <h5 class="card-title">Suchkreis Überblick</h5>
      <div class="list-group list-group-flush">
        <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          <div>
            <span class="badge bg-secondary rounded-pill">1</span>
            Öffentliche Liegenschaft
          </div>
          <i class="bi bi-chevron-right"></i>
        </button>
        <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          <div>
            <span class="badge bg-secondary rounded-pill">3</span>
            Unternehmen
          </div>
          <i class="bi bi-chevron-right"></i>
        </button>
        <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          <div>
            <span class="badge bg-secondary rounded-pill">1</span>
            Naturschutzgebiete
          </div>
          <i class="bi bi-chevron-right"></i>
        </button>
        <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          <div>
            <span class="badge bg-secondary rounded-pill">0</span>
            Mobilfunkstandorte
          </div>
          <i class="bi bi-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="card card-bottom">
    <div class="card-body ">
      <h5 class="card-title">Lokale Informationen</h5>
      <div class="list-group list-group-flush">
        <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          <div>
            Verwaltungsstruktur
          </div>
          <i class="bi bi-chevron-right"></i>
        </button>
        <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          <div>
            Infrastruktur
          </div>
          <i class="bi bi-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
