<div class="card details-card">
  <div class="card-body">
    <h4 class="card-title d-flex justify-content-between" (click)="closeGovernment()">
      <div>
        <i class="bi bi-chevron-left backButton"></i>
        Lokale Verwaltung
      </div>
      <span class="badge rounded-pill text-bg-primary">{{this.searchArea.gemarkungen.length}}</span>
    </h4>
    <div class="info-container">
      <div *ngFor="let gemarkung of this.searchArea.gemarkungen">
        <hr>
        <h5>{{gemarkung.gemarkungsName}} {{gemarkung.gemarkungsNummer}}</h5>
        <div class="accordion">
          <ngb-accordion #acc="ngbAccordion">
            <ngb-panel title="Flure" *ngIf="gemarkung.flure.length != 0">
              <ng-template ngbPanelContent>
                <span *ngFor="let flur of gemarkung.flure" class="badge rounded-pill text-bg-secondary">{{flur.flurName}}</span>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Landkreis" *ngIf="gemarkung.landkreis">
              <ng-template ngbPanelContent>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Name: {{gemarkung.landkreis.kreisName}}
                  </li>
                  <li class="list-group-item">
                    Kreisschlüssel: {{gemarkung.landkreis.kreisSchluessel}}
                  </li>
                  <li class="list-group-item">
                    Kreistyp: {{gemarkung.landkreis.kreisTyp}}
                  </li>
                </ul>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Verbandsgemeinde" *ngIf="gemarkung.verbandsgemeinde">
              <ng-template ngbPanelContent>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    {{gemarkung.verbandsgemeinde.verbandsgemeindeName}}
                  </li>
                  <li class="list-group-item">
                    Verbandgemeinde Nummer: {{gemarkung.verbandsgemeinde.verbandsgemeindeNummer}}
                  </li>
                </ul>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Gemeinde" *ngIf="gemarkung.gemeinde">
              <ng-template ngbPanelContent>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    {{gemarkung.gemeinde.gemeindeName}}
                  </li>
                  <li class="list-group-item">
                    Gemeinde Schlüssel: {{gemarkung.gemeinde.gemeindeSchluessel}}
                  </li>
                  <li class="list-group-item">
                    Gemeinde Typ: {{gemarkung.gemeinde.gemeindeTyp}}
                  </li>
                </ul>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>

        <ngb-accordion #acc="ngbAccordion">
          <ngb-panel title="Amtsgericht" *ngIf="gemarkung.amtsgericht">
            <ng-template ngbPanelContent>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  {{gemarkung.amtsgericht.amtsgerichtName}}
                </li>
                <li class="list-group-item">
                  {{gemarkung.amtsgericht.strasse}}, {{gemarkung.amtsgericht.ort}} {{gemarkung.amtsgericht.plz}}
                  , {{gemarkung.amtsgericht.bundesland}}
                </li>
                <li class="list-group-item">
                  Fax: {{gemarkung.amtsgericht.telefax}} <br>
                  Tel.: {{gemarkung.amtsgericht.telefon}} <br>
                  E-Mail: <a href="mailto:{{gemarkung.amtsgericht.e_mail}}">{{gemarkung.amtsgericht.e_mail}}</a>
                </li>
                <li class="list-group-item">
                  <a href="{{gemarkung.amtsgericht.webseite}}">{{gemarkung.amtsgericht.webseite}}</a>
                </li>
              </ul>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Katasteramt" *ngIf="gemarkung.katasteramt">
            <ng-template ngbPanelContent>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  {{gemarkung.katasteramt.katasteramtName}}
                </li>
                <li class="list-group-item">
                  Katasteramt Nummer: {{gemarkung.katasteramt.katasterNummer}}
                </li>
              </ul>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Finanzamt" *ngIf="gemarkung.finanzamt">
            <ng-template ngbPanelContent>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  {{gemarkung.finanzamt.finanzamtName}}
                </li>
              </ul>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>
