.details-card {
  max-height: 75vh;
  overflow: scroll;

  .backButton {
    cursor: pointer;
  }
}

.info-container {
  margin-bottom: 1vh;

  .address {
    margin-bottom: 1vh;

    p {
      margin: 0 5px 0 0 ;
    }
  }

  .extraInformation {
    margin-bottom: 1vh;
  }


  .badge {
    margin-right: 5px;
  }

}
