<div class="card details-card">
  <div class="card-body">
    <h5 class="card-title" (click)="closeGovernment()">
      <i class="bi bi-chevron-left backButton"></i>
      Lokale Verwaltung
    </h5>
    <div class="info-container">
      <hr>
      <div *ngFor="let feature of this.gemarkungen">
        <h5>Gemeinde: {{feature.get('gemeinde')}}</h5>
        <h6>Amtsgericht</h6>
        <p>{{this.court?.fields?.gericht}}</p>
        <p>{{this.court?.fields?.e_mail}}</p>
        <p>{{this.court?.fields?.telefon}}</p>
        <p>{{this.court?.fields?.webseite}}</p>
      </div>
    </div>
  </div>
</div>
