<div class="menu">
  <img src="../../../../assets/BMDV-Logo.png">
  <div class="card">
    <div class="card-body">
      <div class="authBlock">
        <h3>Passwort zurücksetzen</h3>
        <p class="text-center">Bitte geben Sie Ihre E-Mail-Adresse ein, um ein neues Passwort anzufordern.</p>
        <div class="formGroup">
          <input type="email" class="form-control" placeholder="Email Adresse" #passwordResetEmail required>
        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="input-group">
          <input type="submit" class="btn btn-primary" value="Reset Password"
                 (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
      <div class="redirectToLogin">
        <span class="redirect" routerLink="/sign-in">Zurück zur Anmeldung</span>
      </div>
    </div>
  </div>
</div>
